<div class="formInfo">
  <div class="formInfoFlexContainer">
    <img class="plane-icon" src="images/plane-icon.png">
    {{#formData}}
      <span class="flightLoc">{{departure}}</span>
      <span class="flightLoc">&nbsp;-&nbsp;</span>
      <span class="flightLoc">{{arrival}}</span>
      <btn class="flightDate">{{depart-date}}</btn>
    {{/formData}}
  </div>
</div>
<form action="/flights/passengers" method="GET">
  <div class="depFlightsContainer">
    {{#each departFlights}}
      <div class="flightInfoFlex" id = "flight{{id}}">
        <div class="flightDetailsFlex">
          <div class="flightSelection">{{airline}}</div>
          <div class="flightDepartContainer">
            <span class="flightTime">{{dptTime}}</span>
            <span class="flightLocations">{{dptAirport}}</span>
          </div>
          <div class="inBetweenContainer">
            &nbsp;---&nbsp;
          </div>
          <div class="flightArriveContainer">
            <span class="flightTime">{{arrTime}}</span>
            <span class="flightLocations">{{arrAirport}}</span></div>
        </div>
        <div class="flightPriceInfo">
          {{price}}
        </div>
        <input class="hiddenCheckbox" type="checkbox" id="btn-flight{{id}}" name="dptFlightID" value="btn-flight{{id}}">
        <label for="btn-flight{{id}}" class="flightSelectBtn">Επιλογή</label>
        {{!-- <btn class="flightSelectBtn" type="button" id = "btn-flight{{id}}">
          Επιλογή
        </btn> --}}
      </div>
    {{/each}}
  </div>
    {{#if returnFlights}}
      <div class="formInfo">
        <div class="formInfoFlexContainer">
          <img class="plane-icon" src="images/plane-icon-rev.png">
          {{#formData}}
            <span class="flightLoc">{{arrival}}</span>
            <span class="flightLoc">&nbsp;-&nbsp;</span>
            <span class="flightLoc">{{departure}}</span>
            <btn class="flightDate">{{return-date}}</btn>
          {{/formData}}
        </div>
      </div>
      <div class="retFlightsContainer">
      {{#each returnFlights}}
        <div class="flightInfoFlex" id = "flight{{id}}">
          <div class="flightDetailsFlex">
            <div class="flightSelection">{{airline}}</div>
            <div class="flightDepartContainer">
              <span class="flightTime">{{dptTime}}</span>
              <span class="flightLocations">{{dptAirport}}</span>
            </div>
            <div class="inBetweenContainer">
              &nbsp;---&nbsp;
            </div>
            <div class="flightArriveContainer">
              <span class="flightTime">{{arrTime}}</span>
              <span class="flightLocations">{{arrAirport}}</span></div>
          </div>
          <div class="flightPriceInfo">
            {{price}}
          </div>
          <input class="hiddenCheckbox" type="checkbox" id="btn-flight{{id}}" name="dptFlightID" value="btn-flight{{id}}">
          <label for="btn-flight{{id}}" class="flightSelectBtn">Επιλογή</label>
        </div>
      {{/each}}
    {{/if}}
  </div>
    <btn class="submitFlightBtn" type="submit">Συνέχεια</btn>
  </form>

<script src="/scripts/flightSelect.js"></script>