<div class="formInfo">
  <div class="formInfoFlexContainer">
    <img class="plane-icon" src="images/plane-icon.png">
    {{#formData}}
      <span class="flightLoc">{{departure}}</span>
      <span class="flightLoc">&nbsp;-&nbsp;</span>
      <span class="flightLoc">{{arrival}}</span>
      <btn class="flightDate">{{depart-date}}</btn>
    {{/formData}}
  </div>
</div>
<form action="/flights/passengers" method="GET">
  {{#formData}}
    <input type="hidden" name="departure" value="{{departure}}" />
    <input type="hidden" name="arrival" value="{{arrival}}" />
    <input type="hidden" name="depart-date" value="{{depart-date}}" />
    <input type="hidden" name="return-date" value="{{return-date}}" />
    <input type="hidden" name="passengers" value="{{passengers}}" />
  {{/formData}}
  <div class="depFlightsContainer">
    {{#each departFlights}}
      <div class="flightInfoFlex" id = "flight{{flightID}}">
        <div class="flightDetailsFlex">
          <div class="flightSelection">{{Company}}</div>
          <div class="flightDepartContainer">
            <span class="flightTime">{{departureTime}}</span>
            <span class="flightLocations">{{begin}}</span>
          </div>
          <div class="inBetweenContainer">
            &nbsp;---&nbsp;
          </div>
          <div class="flightArriveContainer">
            <span class="flightTime">{{arrivalTime}}</span>
            <span class="flightLocations">{{end}}</span></div>
        </div>
        <div class="flightPriceInfo">
          {{Cost}}
        </div>
        <input class="hiddenCheckbox" type="checkbox" id="btn-flight{{flightID}}" name="dptFlightID" value="btn-flight{{id}}">
        <label for="btn-flight{{flightID}}" class="flightSelectBtn">Επιλογή</label>
        {{!-- <btn class="flightSelectBtn" type="button" id = "btn-flight{{id}}">
          Επιλογή
        </btn> --}}
      </div>
    {{/each}}
  </div>
    {{#if returnFlights}}
      <div class="formInfo">
        <div class="formInfoFlexContainer">
          <img class="plane-icon" src="images/plane-icon-rev.png">
          {{#formData}}
            <span class="flightLoc">{{arrival}}</span>
            <span class="flightLoc">&nbsp;-&nbsp;</span>
            <span class="flightLoc">{{departure}}</span>
            <btn class="flightDate">{{return-date}}</btn>
          {{/formData}}
        </div>
      </div>
      <div class="retFlightsContainer">
      {{#each returnFlights}}
        <div class="flightInfoFlex" id = "flight{{id}}">
          <div class="flightDetailsFlex">
            <div class="flightSelection">{{flightID}}</div>
            <div class="flightDepartContainer">
              <span class="flightTime">{{departureTime}}</span>
              <span class="flightLocations">{{begin}}</span>
            </div>
            <div class="inBetweenContainer">
              &nbsp;---&nbsp;
            </div>
            <div class="flightArriveContainer">
              <span class="flightTime">{{arrivalTime}}</span>
              <span class="flightLocations">{{end}}</span></div>
          </div>
          <div class="flightPriceInfo">
            {{Cost}}
          </div>
          <input class="hiddenCheckbox" type="checkbox" id="btn-flight{{id}}" name="dptFlightID" value="btn-flight{{id}}">
          <label for="btn-flight{{flightID}}" class="flightSelectBtn">Επιλογή</label>
        </div>
      {{/each}}
    {{/if}}
  </div>
    <button class="submitFlightBtn" type="submit">Συνέχεια</button>
  </form>

<script src="/scripts/flightSelect.js"></script>
<!--
  {
    flightID: 'GO493',
    Company: 'SAS Scandinavian',
    Cost: 73,
    departureTime: '1:10 AM',
    arrivalTime: '5:21 AM'
  }
  -->
