<div>
  <h1>MY BOOKINGS</h1>
  <div class="bookingFlex">
    {{#each bookings}}
      <div>
        {{#each this}}
        <div class="bookingInfo">
          {{startAirportID}}-{{finishAirportID}}, 
          <br>
          {{departureDate}}, {{departureTime}}
          <br>
          {{Company}}
        </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>